*{
      margin: 0;
      padding: 0;
      font-family: sans-serif ;
}

/* header section start form here */
.header-container{
      background-color: rgb(32, 32, 32);
      padding: 20px;
      color: white;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content:space-around;
      /* width: 100%;
      height: 150px;
      background-color: rgba(0, 0, 0, 0.671); */

}
.nav{
      background-color: rgb(32, 32, 32);
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: space-around;
      align-items: center;  
   
  
      
}
.nav .logo .logo-img{
      width: 200px;

}

.nav .nav-bar ul li{      
      list-style-type: none;
      display: inline-block;

}
.nav .nav-bar ul li a{
      text-decoration: none;
      padding: 10px 20px;
      color: #ddd; 
}
.nav .nav-bar ul li a:hover{
      background-color: rgba(29, 48, 61, 0.281);
      color: lightskyblue;
      border-radius: 5px;
}
 
/* header section end here */

/* main content start form here */

.main{
      height: 100vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-image: url(img/background.png),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;

}
.banner-img{
      height: 300px;
}
 .title{
      font-size: 55px;
      line-height: 72px;
      color: #fff;
}
 .description{
      font-size: 20px;
      margin-bottom: 20px;
      padding-top: 10px;
      color: rgba(240, 248, 255, 0.808);
}
.btn{
      background-color: red;
      color: #ddd;
      padding: 12px 20px;
      text-decoration: none;
      border: none;
      
}
.btn:hover{
      background-color: transparent;
      border: 1px solid red;
}

/* main content end form here
8888888888888888888888888888888888888888888888888888888888888888888888 */

/* about section start form the here */


.About-content{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
}
.About-title{
      text-align: center;
      font-size: 50px;
      padding-top: 20px;
      color: #2b2424;
      text-shadow: 2px 2px 10px  rgba(3, 1, 70, 0.925);

}
.section{
      width: 300px;
}
.info{
      width: 400px;
}
.info .we-grow{
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px;
      color: rgb(36, 34, 34);
      
}
.info .text{
      margin-bottom: 20px;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.795);
}
.info .conbtn:hover{
      color: rgba(0, 0, 0, 0.842);
}

/* about section end form the here 
88888888888888888888888888888888888888888888888888888888888888*/

/* our service start here */
.our-container{
      background-image: url(img/background.png),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
}
.our-container .our-servic{
      margin: 0;
      padding-top: 50px;
      text-align: center;
      font-size: 50px;
      color: #ddd;

}
.box-container{
      height: 500px;
      display: flex;
      justify-content: space-evenly;
      align-items:center; 


}
.box-container .box{
      width: 200px;
      height: 300px;
      border-radius: 10px;
      text-align: center;
      color: #ddd;
      padding: 10px;
      background-color: #000;
      box-shadow: 10px 10px 60px 20px  rgba(170, 166, 166, 0.473);
}
.box-container .box .digital{
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
}
.box-container .box .lorem-text{
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 20px;

}
.box-container .box .icon{
      width: 70px;
}
.btn-d{
      background-color: #dddddd56;
      text-decoration: none;
      text-transform: capitalize;
      padding: 10px 15px;
      border-radius: 5px;
      color: #ddd;
}
.btn-d:hover{
      background-color: #faba32;
      color: white;
}
/* our service end here 
8888888888888888888888888888888888888888888888888888888888888888*/

/* footer section start here */
.footer{
      padding-top: 100px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #000000;
      color: #ddd;
}
.footer .box1{
      width: 300px;
      padding-bottom: 100px;

}
.footer .box1 .geekfolio{
      font-size: 35px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 15px;    
}
.footer .box1 .auctor{
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;

}

.footer .box2{
      width: 250px;
      padding-bottom: 100px;

}

.footer .box2 .head-titel{
      font-size: 15px;
      line-height: 50px;
      padding-bottom: 10px;
      text-align: left;

}
.footer .box2 li{
      list-style: none;
}

/* footer section end here */



